
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  background: url(../img/wikipedia-logo.png) no-repeat center center fixed; 
  background-size: cover;
}

body h1 {   
    margin: 50px auto;
    padding: 30px;
    text-align: center;
  }

#main-title {
  color: #dd5638;
  background-color: #e5f0db;
  width: 90%;
  max-width: 500px;
  height: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px 1px #ccc;
          box-shadow: 2px 2px 1px 1px #ccc;
}

.content-container {  
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e5f0db;
  text-align: center;  
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px 1px #ccc;
          box-shadow: 2px 2px 1px 1px #ccc;

}

.content-container #random-article {
    margin: 20px auto;    
  }

.content-container #random-article a {
      color: #000;
      font-size: 1.2em;
      text-decoration: none;  
    }

.content-container #random-article a:hover {
        font-weight: bold;
      }

.content-container hr {
      border-top: 3px double #dd5638;;
    }

.content-container #request-article {
    color: #000;
    font-size: 1.2em;
    margin-bottom: 20px;
  }

.content-container input[type="text"]{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    padding: 10px; 
    border: 3px solid #dd5638;      
  }

.content-container ul#wikipedia-articles li {
    background: #fff;
    text-align:center;
    list-style: none;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 1px 1px #ccc;
            box-shadow: 2px 2px 1px 1px #ccc;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;    
    }

.content-container ul#wikipedia-articles li:hover {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
    }

.content-container ul#wikipedia-articles li a {
      color: #dd5638;
      text-decoration: none;
      }

.content-container ul#wikipedia-articles li a p {      
        color: #000;
        text-align: justify;
        padding-top: 10px;
       }

.content-container #submit-btn { 
    background: #fff;   
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: none;  
    border: 3px solid #dd5638; 
    -webkit-transition: all 0.2s ease-out; 
    transition: all 0.2s ease-out; 
  }

.content-container #submit-btn:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      background: #f1bbaf;
    }

.content-container .wikipedia-footer {
  max-width: 90%;  
  color:#fff;
  margin: 100px auto 30px;
  }

.content-container .wikipedia-footer ul#contact-list {  
    list-style: none;
    }

.content-container .wikipedia-footer ul#contact-list li {      
      margin: 10px 5px; 
      display: inline-block;
      }

.content-container .wikipedia-footer ul#contact-list li a {
        margin-bottom: 10px;          
        text-decoration:none;          
        }

.content-container .wikipedia-footer ul#contact-list li a.button {
        color: #dd5638; 
        border:solid 2px #dd5638; 
        border-radius:50%;
        display:inline-block;
        width:50px;
        height:50px;
        text-align:center;
        font-size:20px;
        line-height:48px;
        -webkit-transition:all .3s ease-in-out;
        transition:all .3s ease-in-out;
          }

.content-container .wikipedia-footer ul#contact-list li a.button:hover {
              -webkit-transform: scale(1.3);
                      transform: scale(1.3);
              color: #fff;
              border:solid 2px #fff; 
            }

.content-container .wikipedia-footer ul#contact-list li a.button.linkedin:hover {
              background: #007bb6;                  
            }

.content-container .wikipedia-footer ul#contact-list li a.button.personal-website:hover {
              background: #79b044;
            }

.content-container .wikipedia-footer ul#contact-list li a.button.facebook:hover {
              background: #3b5998;
            }

.content-container .wikipedia-footer ul#contact-list li a.button.github:hover {
              background: #24292e;;
            }

.content-container .wikipedia-footer ul#contact-list li a.button.freecodecamp:hover {
              background: #006400;
            }

.content-container .wikipedia-footer ul#contact-list li a.button.codepen:hover {
              background: #722872;
            }


